#login{
  padding: 0;
  width: 1350px;
  height: 627px;
  background-size: cover; /* 使图片平铺满整个浏览器(从宽和高的最大需求方面来满足，会使某些部分无法显示在区域中) */
  position: absolute; /* 不可缺少 */
  background-image: url("../../assets/bg/bg1.jpeg");
  background-repeat: no-repeat;
}
