
<div>
  <!--导航-->
  <div>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/Home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>学生管理</el-breadcrumb-item>
      <el-breadcrumb-item>学生列表</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
  <br/>

  <div  align="left">
    <!--搜索框-->
    <el-select v-model="grade" filterable="filterable" @change="selectQuery" placeholder="请选择">
      <el-option
        v-for="item in gradeItem"
        :key="item.value"
        :label="item.label"
        :value="item.value">
      </el-option>
    </el-select>
    &nbsp;
    <el-select v-model="professinol" filterable="filterable" @change="selectQuery" placeholder="请选择">
      <el-option
        v-for="item in professinolItem"
        :key="item.value"
        :label="item.label"
        :value="item.value">
      </el-option>
    </el-select>
    &nbsp;
    <el-input v-model="stuname" placeholder="请输入姓名" style="width: 200px"></el-input>
    <el-button icon="el-icon-search" slot="append" circle @click="selectQuery"></el-button>
    <el-button icon="el-icon-refresh-left" circle @click="clearbtn"></el-button>
    <!--添加按钮-->
    <el-button type="primary" plain  @click="showAdd">添加学生信息</el-button>
  </div>
  <br/>
  <!-- 数据表格开始 -->
  <el-row>
    <el-col :span="24">
      <el-table
        :data="tableData"
        stripe="stripe"
        fit="fit"
        highlight-current-row="highlight-current-row"
        border
        style="width: 100%">
        <el-table-column  align="center" prop="id" label="编号" width="50"></el-table-column>
        <el-table-column  align="center" prop="stuname" label="姓名"></el-table-column>
        <el-table-column  align="center" prop="stuno" label="学号" width="160"></el-table-column>
        <el-table-column  align="center" prop="professinol" label="专业" ></el-table-column>
        <el-table-column  align="center" prop="grade" label="年级"></el-table-column>
        <el-table-column  align="center" prop="sex" label="性别" width="80"></el-table-column>
        <el-table-column  align="center" prop="gpa" label="GPA" ></el-table-column>
        <el-table-column  align="center" prop="phone" label="联系方式" ></el-table-column>
        <el-table-column  align="center" label="操作" width="220">
          <template scope="scope">
            <el-button icon="el-icon-view" circle plain @click="showPersonal(scope.row.id,scope.row.stuname)"></el-button>
            <el-button type="primary" icon="el-icon-edit" @click="showUpdate(scope.row)"></el-button>
            <el-button type="danger" icon="el-icon-delete" @click="delStu(scope.row.id,scope.$index)"></el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-col>
  </el-row>
  <!--数据表格结束-->
  <div align="center">
    <!-- 分页开始 -->
    <el-pagination
      style="margin-top:10px;"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="this.pageNum"
      :page-sizes="[5, 10, 15, 20]"
      :page-size="this.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
    ></el-pagination>
  </div>
  <!-- 分页结束 -->

  <!--详情对话框-->
  <el-dialog title="学生详情" :visible.sync="showdialogFormVisible">
    <div style="margin-left: 50px">
      <table>
        <tr>
          <td><img height="150" src="../../assets/stx.jpg"/></td>
        </tr>
        <tr>
          <td>{{thisstuname}}</td>
        </tr>
      </table>
    </div>
      <el-table :data="stu_sub_Data">
        <el-table-column property="name" label="正在学习"></el-table-column>
      </el-table>
    <div slot="footer" class="dialog-footer">
      <el-button type="primary" @click="showdialogFormVisible = false">确 定</el-button>
    </div>
  </el-dialog>
  <!--详情对话框结束-->

  <!--添加对话框开始-->
  <el-dialog title="添加学生信息" :visible.sync="dialogFormVisible">
    <el-form :model="addform" ref="addform" status-icon :rules="rules">
      <el-form-item label="学生姓名" :label-width="formLabelWidth" prop="stuname">
          <el-input v-model="addform.stuname"  autocomplete="off"></el-input>
      </el-form-item>

      <el-form-item label="学号" :label-width="formLabelWidth" prop="stuno">
          <el-input v-model="addform.stuno"  autocomplete="off"></el-input>
      </el-form-item>

      <el-form-item label="入学年份" :label-width="formLabelWidth" prop="grade">
        <div style="margin-right: 300px">
          <el-select v-model="addform.grade" filterable="filterable"  placeholder="请选择">
            <el-option
              v-for="item in gradeItem"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </div>
      </el-form-item>


      <el-form-item label="专业" :label-width="formLabelWidth" prop="professinol">
        <div style="margin-right: 300px">
          <el-select v-model="addform.professinol" filterable="filterable"  placeholder="请选择">
            <el-option
              v-for="item in professinolItem"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </div>
      </el-form-item>

      <el-form-item label="性别" :label-width="formLabelWidth" prop="sex">
        <div style="margin-right: 350px">
          <el-radio v-model="addform.sex" label="男">男</el-radio>
          <el-radio v-model="addform.sex" label="女">女</el-radio>
        </div>
      </el-form-item>

      <el-form-item label="GPA" :label-width="formLabelWidth" prop="gpa">
        <div style="margin-right: 300px">
          <el-input-number v-model="addform.gpa"  :step="0.01" :min="0" :max="4"></el-input-number>
        </div>
      </el-form-item>

      <el-form-item label="联系方式" :label-width="formLabelWidth" prop="phone">
          <el-input v-model="addform.phone"  autocomplete="off"></el-input>
      </el-form-item>

      <el-cascader
        v-model="value"
        :options="schoolItem"
        @change="handleChange"></el-cascader>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="adddialogFormVisible('addform')">取 消</el-button>
      <el-button type="primary" @click="addStu('addform')">确 定</el-button>
    </div>
  </el-dialog>
  <!--添加对话框结束-->

  <!--修改对话框开始-->
  <el-dialog title="修改学生信息" :visible.sync="UpdialogFormVisible">
    <el-form :model="currentStu" ref="updateform" status-icon :rules="rules">
      <el-form-item label="学生姓名" :label-width="formLabelWidth" prop="stuname">
        <el-input v-model="currentStu.stuname"  autocomplete="off"></el-input>
      </el-form-item>

      <el-form-item label="学号" :label-width="formLabelWidth" prop="stuno">
        <el-input v-model="currentStu.stuno"  autocomplete="off"></el-input>
      </el-form-item>

      <el-form-item label="入学年份" :label-width="formLabelWidth" prop="grade">
        <div style="margin-right: 300px">
          <el-select v-model="currentStu.grade" filterable="filterable"  placeholder="请选择">
            <el-option
              v-for="item in gradeItem"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </div>
      </el-form-item>


      <el-form-item label="专业" :label-width="formLabelWidth" prop="professinol">
        <div style="margin-right: 300px">
          <el-select v-model="currentStu.professinol" filterable="filterable"  placeholder="请选择">
            <el-option
              v-for="item in professinolItem"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </div>
      </el-form-item>

      <el-form-item label="性别" :label-width="formLabelWidth" prop="sex">
        <div style="margin-right: 350px">
          <el-radio v-model="currentStu.sex" label="男">男</el-radio>
          <el-radio v-model="currentStu.sex" label="女">女</el-radio>
        </div>
      </el-form-item>

      <el-form-item label="GPA" :label-width="formLabelWidth" prop="gpa">
        <el-input v-model="currentStu.gpa"  autocomplete="off"></el-input>
      </el-form-item>

      <el-form-item label="联系方式" :label-width="formLabelWidth" prop="phone">
        <el-input v-model="currentStu.phone"  autocomplete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="updateDialogConcel('updateform')">取 消</el-button>
      <el-button type="primary" @click="updateCourse('updateform')">确 定</el-button>
    </div>
  </el-dialog>
  <!--修改对话框结束-->

</div>


