.el-container{
  height: 100%;
}

/*头部样式*/
.el-header{
  background-color: #F1F3F4;
  color: #333;
  text-align: center;
  line-height: 60px;
}
.el-header img{
  height: 60px;
}

/*左*/
.el-aside {
  background-color: #F1F3F4;
  color: #333;
  text-align: center;
  height: 590px;
}

/*中间*/
.el-main {
  background-color: Window;
  color: #333;
  text-align: center;
  height: 100%;
}
