<div>
  <!--导航-->
  <div>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/Home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>用户管理</el-breadcrumb-item>
      <el-breadcrumb-item>用户列表</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
  <br/>
  <!--搜索框-->
  <div align="left">
    <el-input v-model="name" placeholder="请输入姓名" style="width: 200px"></el-input>
    <el-button icon="el-icon-search" slot="append" circle @click="selectQuery"></el-button>
    &nbsp;&nbsp;&nbsp;
    <!--添加按钮-->
    <el-button type="primary" plain  @click="showAdd">添加</el-button>
  </div>
  <br/>
  <!-- 数据表格开始 -->
  <el-row>
    <el-col :span="24">
      <el-table
        :data="tableData"
        stripe="stripe"
        fit="fit"
        highlight-current-row="highlight-current-row"
        border
        style="width: 100%">
        <el-table-column  align="center" prop="id" label="编号" width="50"></el-table-column>
        <el-table-column  align="center" prop="username" label="用户名"></el-table-column>
        <el-table-column  align="center" prop="email" label="邮箱"></el-table-column>

        <el-table-column  align="center" prop="status" label="用户状态" width="150">
          <template scope="scope">
            <el-tag v-if="scope.row.status=='y'" type="success" effect="dark">正常</el-tag>
            <el-tag v-if="scope.row.status=='n'"  type="danger" effect="dark">锁定</el-tag>
          </template>
        </el-table-column>
        <el-table-column  align="center" prop="address" label="操作" width="230">
          <template scope="scope">
            <el-button type="warning" v-if="scope.row.username=='admin'" disabled icon="el-icon-share" @click="showPerms(scope.row.id)"></el-button>
            <el-button type="primary" v-if="scope.row.username=='admin'" disabled icon="el-icon-edit" @click="showUpdate(scope.row)"></el-button>
            <el-button type="danger"  v-if="scope.row.username=='admin'" disabled icon="el-icon-delete" @click="delTeacher(scope.row.id,scope.$index)"></el-button>

            <el-button type="warning" v-if="scope.row.username!='admin'" icon="el-icon-share" @click="showPerms(scope.row.id)"></el-button>
            <el-button type="primary" v-if="scope.row.username!='admin'" icon="el-icon-edit" @click="showUpdate(scope.row)"></el-button>
            <el-button type="danger" v-if="scope.row.username!='admin'" icon="el-icon-delete" @click="delTeacher(scope.row.id,scope.$index)"></el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-col>
  </el-row>
  <!--数据表格结束-->
  <div align="center">
    <!-- 分页开始 -->
    <el-pagination
      style="margin-top:10px;"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="this.pageNum"
      :page-sizes="[5, 10, 15, 20]"
      :page-size="this.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
    ></el-pagination>
  </div>
  <!-- 分页结束 -->

  <!--添加对话框-->
  <el-dialog title="添加用户" :visible.sync="dialogFormVisible">
    <el-form :model="addform" ref="addform" status-icon :rules="rules">
      <el-form-item label="用户名" :label-width="formLabelWidth" prop="username">
        <el-input v-model="addform.username" autocomplete="off"></el-input>
      </el-form-item>

      <el-form-item label="密码" :label-width="formLabelWidth" prop="password">
        <el-input type="password" v-model="addform.password" autocomplete="off"></el-input>
      </el-form-item>

      <el-form-item label="确认密码" :label-width="formLabelWidth" prop="rpassword">
        <el-input type="password" v-model="addform.rpassword" autocomplete="off"></el-input>
      </el-form-item>

      <el-form-item label="邮箱" :label-width="formLabelWidth" prop="email">
        <el-input type="email" v-model="addform.email" autocomplete="off"></el-input>
      </el-form-item>

    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="adddialogFormVisible('addform')">取 消</el-button>
      <el-button type="primary" @click="addUser('addform')">确 定</el-button>
    </div>
  </el-dialog>
  <!--添加对话框结束-->

  <!--修改对话框开始-->
  <el-dialog title="修改用户" :visible.sync="UpdialogFormVisible">
    <el-form :model="currentUser" ref="updateform" status-icon :rules="rules">
      <el-form-item label="用户名" :label-width="formLabelWidth" prop="username">
        <el-input v-model="currentUser.username" disabled autocomplete="off"></el-input>
      </el-form-item>

      <el-form-item label="密码" :label-width="formLabelWidth" prop="password">
        <el-input type="password" v-model="currentUser.password" autocomplete="off"></el-input>
      </el-form-item>

      <el-form-item label="邮箱" :label-width="formLabelWidth" prop="email">
        <el-input type="email" v-model="currentUser.email" autocomplete="off"></el-input>
      </el-form-item>

      <el-form-item label="用户状态" :label-width="formLabelWidth" prop="status">
        <div style="margin-right: 300px;margin-top: 8px">
          <el-switch
            style="display: block"
            v-model="currentUser.status"
            active-color="#13ce66"
            inactive-color="#ff4949"
            active-value="y"
            active-text="正常"
            inactive-value="n"
            inactive-text="锁定">
          </el-switch>
        </div>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="updateDialogConcel('updateform')">取 消</el-button>
      <el-button type="primary" @click="updateUser('updateform')">确 定</el-button>
    </div>
  </el-dialog>
  <!--修改对话框结束-->

  <!-- 权限对话框开始 -->
  <el-dialog
    title="权限管理"
    :visible.sync="permsDialogVisible"
    width="40%"
    @close="permExit"
    center>
    <el-tree
      :data="permsData"
      show-checkbox
      ref="permsTree"
      node-key="id"
      :default-expand-all="true"
      :default-checked-keys="userPerms"
      :props="defaultProps">
    </el-tree>
    <span slot="footer" class="dialog-footer">
    <el-button @click="permExit">取 消</el-button>
    <el-button type="primary" @click="updatePerm">确 定</el-button>
  </span>
  </el-dialog>
  <!-- 权限弹出框结束 -->

</div>


